@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

.BarraLateral {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding-left: 10px;

  width: 300px;
  height: 95.5vh;
  background: rgb(38, 103, 177);
  background: linear-gradient(
    90deg,
    rgb(38, 103, 177) 0%,
    rgba(49, 110, 230, 1) 100%
  );
  margin: 20px 0 20px 20px;
  border-radius: 25px;

  display: grid;
  grid-template-rows: 12% 75% 20%;
  justify-content: center;
  transition: all 0.5s ease;
}

.BarraLateral.close {
  width: 88px;
}

.imglogo {
  width: 95%;
  height: 80px;
  margin-top: 15px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.26);
}

.BarraLateral.close .imgLogo {
  width: 80%;
}

.inlineB {
  display: inline-block;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  width: 100%;
}
.derecha {
  float: right;
}

.logoBarraLateral {
  width: 250px;
  height: 80px;
  transition: 0.5s;
}

.BarraLateral.close .logoBarraLateral {
  display: none;
}

.logoOjo {
  width: 70px;
  height: 80px;
  transition: 0.5s;
  display: none;
}

.BarraLateral.close .logoOjo {
  display: grid;
}

.BarraLateral nav {
  width: 100%;
  height: auto;
  transition: 0.5s;
}

.BarraLateral.close nav {
  width: 50%;
  margin-left: 0;
  transition: 0.5s;
}

.BarraLateral nav ul li,
.BarraLateral .logout ul li {
  width: 80%;
  cursor: pointer;
  list-style: none;
  margin-top: 10px;
  padding: 20px;
  border-radius: 25px;
  transition: 0.5s ease;

  display: grid;
  grid-template-columns: 15% 80%;
  justify-content: center;
  align-items: center;
}

.BarraLateral.close .logout .ul li {
  display: flex;
}

.BarraLateral .logout ul li {
  width: 80%;
}

.BarraLateral nav ul li .link {
  text-decoration: none;
  color: white;
  white-space: nowrap;
  opacity: 1;

  display: grid;
  grid-template-columns: repeat(2, 2fr);
  align-items: center;
}

.BarraLateral nav ul li .link h1 {
  font-size: 15px;
  margin-left: 10px;
}

.BarraLateral.close nav ul li .link h1 {
  display: none;
}

.BarraLateral nav ul li:hover,
.BarraLateral .logout ul li:hover {
  background-color: #6b9af7;
}

.BarraLateral .logout {
  width: 100%;
  height: 80px;
  transition: 0.5s;
}

.BarraLateral.close .logout {
  width: 50%;
  transition: 0.5s;
}

.BarraLateral .logout ul li .linkLogout {
  text-decoration: none;
  color: white;

  display: grid;
  grid-template-columns: repeat(2, 2fr);
  align-items: center;
}

.BarraLateral ul li .linkLogout h1 {
  font-size: 15px;
  margin-left: 10px;
}

.BarraLateral.close .logout ul li .linkLogout h1 {
  display: none;
}

.BarraLateral .iconLi {
  width: 30px;
  height: 30px;
  color: white;
}

.BarraLateral .iconClose {
  cursor: pointer;
  position: absolute;
  top: 7.5%;
  right: -18px;
  transform: translateY(-50%) rotate(180deg);
  height: 19px;
  width: 19px;
  padding: 8px;
  background-color: #6b9af7;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
  transition: all 0.3s ease;
}

.BarraLateral.close .iconClose {
  transform: translateY(-50%);
}

/* BARRA HORIZONTAL */

.BarraHorizontal {
  position: relative;
  height: 115px;
  left: 355px;
  width: calc(94.5% - 250px);
  border-bottom: 2px solid rgba(209, 209, 209, 0.545);
  transition: 0.5s ease;
}

.BarraHorizontal .cont-primary {
  height: 115px;
  display: grid;
  grid-template-columns: 89.5% 10%;
  align-content: center;
}

.BarraLateral.close ~ .BarraHorizontal .cont-primary {
  grid-template-columns: 80% 18%;
}

.BarraLateral.close ~ .BarraHorizontal {
  left: 140px;
  width: calc(97.3% - 88px);
}

.BarraHorizontal .cont-primary .titulo {
  padding-top: 15px;
}

.BarraHorizontal .cont-primary .titulo h1 {
  margin-top: 20px;
  font-size: 25px;
}

.BarraHorizontal .cont-primary .titulo h2 {
  font-size: 30px;
  display: none;
}

.BarraLateral.close ~ .BarraHorizontal .cont-primary .titulo h1 {
  margin-top: 20px;
  font-size: 25px;
}

.BarraLateral.close ~ .BarraHorizontal .cont-primary .titulo h2 {
  font-size: 30px;
  display: flex;
}

.cont-imgprofile {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s ease;
}

.BarraLateral.close ~ .BarraHorizontal .cont-primary .cont-imgprofile {
  display: flex;
  justify-content: flex-end;
  transition: 0.5s ease;
}

.photo {
  width: 85px;
  height: 85px;
  border-radius: 100%;
}

.img-profile {
  color: #ffffff;
  width: 85px;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(38, 103, 177);
  font-size: 40px;
  border-radius: 100%;
  border: none;
  text-transform: uppercase;
}

.NoInformation {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  background-color: rgb(38, 103, 177);
  border-radius: 25px;
  color: white;
  font-size: 30px;
}
/* BARRA HORIZONTAL */

/* DropDown */
.card-profile {
  height: auto;
  width: auto;
  margin-bottom: 15px;
}

.grid-list-drop {
  height: 61px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.list-web {
  display: block;
}

.list-web .MenuItem {
  font-size: 20px;
  transition: 0.5s ease-in;
}

.list-web .MenuItem:hover {
  background-color: rgba(239, 239, 239, 0.148);
}

.list-web .iconDrop {
  font-size: 30px;
  color: black;
}

.list-web .linkDropDown {
  text-decoration: none;
  color: black;
  margin-left: 15px;
}

.cont-main {
  overflow-y: none;
  overflow-x: none;
  top: -10px !important;
}

.BarraHorizontal .card-profile .tituloProfile h1 {
  margin-top: 20px;
  font-size: 15px !important;
}

.BarraHorizontal .card-profile .tituloProfile h2 {
  font-size: 30px;
  display: none;
}

.cols-miprofile {
  display: grid;
  grid-template-columns: 55% 40%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s ease;
  font-size: 12px;
}

.imgavatar-profile {
  color: #ffffff;
  width: 85px;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(38, 103, 177);
  font-size: 40px;
  border-radius: 100%;
  border: none;
  text-transform: uppercase;
}

/* DropDown */

/* Inventario */

.CardInventario {
  position: relative;
  top: 50px;
  left: 355px;
  width: calc(94.5% - 250px);
  height: auto;

  transition: 0.5s ease;
}

.BarraLateral.close ~ .CardInventario {
  left: 205px;
  width: calc(90% - 20px);
}

.CardInventario .contPrimary {
  width: 70%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-gap: 30px;

  position: relative;
  left: 12%;
}

.CardUsuarios .contPrimaryVentas {
  width: 50%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 30px;

  position: relative;
  left: 25%;
}

.CardUsuarios .contPrimaryClientes{
  width: 90%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 4fr);
  grid-gap: 30px;

  position: relative;
  left: 3%;
}

.CardInventario .contCard {
  width: 95%;
  height: 350px;
  border-radius: 25px;
  border: 3px solid rgb(225, 225, 225);

  display: grid;
  grid-template-rows: 75% 20%;
  justify-items: center;
  align-items: center;
  transition: 0.5s ease;
}

.CardInventario .contCard div {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(2, 50px);

  justify-content: center;
  align-items: center;
}

.CardInventario .contCard .ErroImg {
  width: 100%;
  color: gray;
  font-size: 40px;
}

.CardInventario .contCard h1 {
  font-size: 18px;
  color: gray;
}

.CardInventario .contCard:hover {
  box-shadow: 5px 5px 10px -5px rgba(164, 164, 164, 0.75);
}

.CardInventario .contCard .imgCard {
  width: 60%;
  height: auto;
}

.CardInventario .contCard .btnCard {
  width: 80%;
  height: 50px;
  border-radius: 25px;
  background: rgb(38, 103, 177);
  background: linear-gradient(
    90deg,
    rgb(38, 103, 177) 0%,
    rgba(49, 110, 230, 1) 100%
  );
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

.CardInventario .contCard .btnCard h1 {
  font-size: 16px;
  color: white;
}
/* Inventario */

#loguito {
  width: 1000px;
}

.LinkStyleNone {
  text-decoration: none;
  color: #000000;
}
.Enlace {
  text-align: center;
  margin-top: 40px;
  color: #000000;
  transition: 0.4s;
}
.Enlace:hover {
  transition: 0.4s;
  color: #35957e;
}
.titulo {
  margin-bottom: 50px;
}
.siguiente {
  color: #ffffff;
  font-size: 30px;
  padding: 20px;
  background-color: #2e8ceb;
  border-radius: 50%;
}
.siguiente:hover {
  transition: 0.5s;
  background-color: #35957e;
  translate: 2px;
  transition: 0.4s;
  translate: -2px;
}
