@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

.contRecuperaPassword {
  position: relative;
  top: 50px;
  left: 355px;
  width: calc(92% - 250px);
  height: auto;

  display: grid;
  grid-template-rows: 20% 80%;
  grid-gap: 0;

  transition: 0.5s ease;
}

.BarraLateral.close ~ .contRecuperaPassword {
  left: 145px;
  width: calc(90% - 20px);
}

.contRecuperaPassword .titleRecuPassword {
  width: 100%;
  height: auto;

  display: grid;
  grid-template-rows: repeat(2, 70px);
  justify-items: center;
}

.contRecuperaPassword .titleRecuPassword h2 {
  font-size: 55px;
  color: #316ee6;
}

.contRecuperaPassword .titleRecuPassword h3 {
  font-size: 16px;
  color: gray;
  text-align: center;
}

.sectionRecuPassword {
  width: 100%;
  height: auto;
}

.contPrincipalRecu {
  width: 100%;
  height: auto;

  display: grid;
  grid-template-rows: repeat(3, 3fr);
  grid-gap: 40px;
  justify-content: center;
  align-items: center;
}

.sectionRecuPassword .contInput {
  width: 100%;
  height: auto;

  display: grid;
  grid-template-rows: repeat(2, 25px);
}

.sectionRecuPassword .contBtn {
  width: 100%;
  height: auto;

  display: grid;
  grid-template-rows: repeat(2, 25px);
  justify-items: center;
}

.sectionRecuPassword .contInput .titleInput {
  color: gray;
  font-weight: bold;
  margin-left: 5px;
}

.sectionRecuPassword .contInput .inputCustom {
  width: 500px;
  height: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(208, 208, 208, 0.349);
  border: 2px solid gray;
  font-weight: bold;
  font-size: 15px;
}

.sectionRecuPassword .contInput .inputCustom:focus-visible {
  outline: none;
}

.sectionRecuPassword .contBtn .btnSubmit {
  width: 20%;
  height: 30px;
  padding: 20px;
  background-color: #316ee6;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 25px;
}

.sectionRecuPassword .contPrincipalRecu .contInput .selectCustom {
  width: 525px;
  height: 45px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(208, 208, 208, 0.349);
  border: 2px solid gray;
  font-weight: bold;
  font-size: 15px;
}

.ErrorMessage {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 20%;
  height: 100px;
  background-color: #316ee6;
  border-radius: 10px;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
  box-shadow: 2px 2px 15px rgb(202, 202, 202);
}
