@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

.error {
  color: rgb(163, 33, 33);
}

/* Login */
.contPadre {
  width: 100%;
  height: 100vh;

  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 10px;

  justify-content: center;
}

.contLogin {
  width: 100%;
  height: 40vh;
  padding-top: 150px;

  display: grid;
  /* grid-template-rows: repeat(4, 200px); */
  grid-template-rows: 15% 30% 60% 55%;
  justify-items: center;
  align-items: center;
}

.titleHello {
  font-size: 40px;
}

.contInputLogin {
  width: 90%;
  height: auto;

  display: grid;
  grid-template-rows: 40% 75%;
}

.contInputLogin .titleInput {
  color: gray;
  font-weight: bold;
  margin-left: 5px;
  font-size: 15px;
}

.inputCustomLogin {
  width: 100%;
  height: 45px;
  background-color: #d0d0d059;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 18px;
  font-weight: bold;
  border: 2px solid #84848459;
}

.contInputLogin .inputCustomPass {
  width: 104% !important;
  height: 49px;
  border-radius: 5px !important;
  background-color: #d0d0d059;
  border: 2px solid #84848459 !important;
  font-weight: bold;
  font-size: 18px !important;

  line-height: none !important;
  letter-spacing: none !important;
  box-sizing: none !important;
}

.contInputLogin .inputCustomPass:before {
  border-bottom: none !important;
}
¨ .inputCustomLogin:focus-visible {
  outline: none !important;
}

.errorMessage {
  font-size: 15px;
  font-weight: bold;
  margin-top: 8px;
  position: relative;
  left: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.contButtons {
  width: 60%;
  display: grid;
  grid-template-rows: repeat(2, 50px);
  margin-top: 50px;
}

.secondButtons {
  width: 93%;
  height: 30px;

  display: grid;
  grid-template-columns: repeat(2, 2fr);
}

.contRecuerdame {
  width: 100%;

  display: grid;
  grid-template-columns: 10% 20%;
  font-weight: bold;
  text-transform: uppercase;
}

.btnRecuerdame {
  width: 20px;
  height: 20px;
}

.btnOlvidar {
  height: 18px;
  text-decoration: none;
  color: rgb(132, 132, 132);
  font-weight: bold;
  transition: 0.5s ease;
  text-align: right;
}

.btnOlvidar:hover {
  text-decoration: underline;
  color: #316ee6;
}

.btnIngresar {
  width: 93% !important;
  height: 60px !important;
  background: rgb(38, 103, 177);
  background: linear-gradient(
    90deg,
    rgb(38, 103, 177) 0%,
    rgba(49, 110, 230, 1) 100%
  );
  color: white !important;
  font-weight: bold !important;
  font-size: 20px !important;
  /* border-radius: 25px !important; */
}

.contImgLogin {
  width: 100%;
  height: auto;

  background-color: #033db0;
}

.imgLogin {
  width: 100%;
}

.contHijoLogin {
  width: 60%;
  height: 200px;

  display: grid;
  grid-template-rows: repeat(2, 70px);
  grid-gap: 85px;
}
/* Login */

/* CardUsuario-Menu */

.CardUsuarios {
  position: relative;
  top: 180px;
  left: 355px;
  width: calc(94.5% - 250px);
  height: auto;

  transition: 0.5s ease;
}

.BarraLateral.close ~ .CardUsuarios {
  left: 205px;
  width: calc(90% - 20px);
}

.CardUsuarios .contPrimary {
  width: 90%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 4fr);
  grid-gap: 30px;

  position: relative;
  left: 3%;
}

.CardUsuarios .contCard {
  width: 95%;
  height: 450px;
  border-radius: 25px;
  border: 3px solid rgb(225, 225, 225);

  display: grid;
  grid-template-rows: 75% 20%;
  justify-items: center;
  align-items: center;
  transition: 0.5s ease;
}

.CardUsuarios .contCard div {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(2, 50px);

  justify-content: center;
  align-items: center;
}

.CardUsuarios .contCard .ErroImg {
  width: 100%;
  color: gray;
  font-size: 40px;
}

.CardUsuarios .contCard h1 {
  font-size: 18px;
  color: gray;
}

.CardUsuarios .contCard:hover {
  box-shadow: 5px 5px 10px -5px rgba(164, 164, 164, 0.75);
}

.CardUsuarios .contCard .imgCard {
  width: 65%;
  height: auto;
}

.CardUsuarios .contCard .btnCard {
  width: 80%;
  height: 50px;
  border-radius: 25px;
  background: rgb(38, 103, 177);
  background: linear-gradient(
    90deg,
    rgb(38, 103, 177) 0%,
    rgba(49, 110, 230, 1) 100%
  );
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

.CardUsuarios .contCard .btnCard h1 {
  font-size: 16px;
  color: white;
}

/* AddCompra */
.infoAddCompra {
  width: 62%;
  height: auto;
  padding-left: 10%;

  display: grid;
  grid-template-rows: 50% 50%;
  grid-gap: 20%;

  align-items: center;
}

.infoAddCompra .PanelInfo {
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}

.infoAddCompra .PanelInfo .InputContPrincipal {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 50px;
  /* padding: 40px; */
}

.infoAddCompra .PanelInfo .InputContPrincipal1 {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 50px;
  /* padding: 40px; */
}

.infoAddCompra .PanelInfo .contInput .selectCustom {
  width: 325px;
  height: 45px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(208, 208, 208, 0.349);
  border: 2px solid gray;
  font-weight: bold;
  font-size: 15px;
}

/* AddCompra */

/* Lista Permisos */
.ContPermisos{
  width: 85%;
  height: auto;
  position: relative;
  left: 8%;
}
/* Lista Permisos */

/* CardUsuario-Menu */

/* AddNewUser */
.ContUsuarios {
  position: relative;
  top: 50px;
  left: 355px;
  width: calc(92% - 250px);
  height: auto;

  display: grid;
  grid-template-rows: 15% 80%;
  grid-gap: 50px;

  transition: 0.5s ease;
}

.ContUsuarios .btnBack {
  position: absolute;
  background-color: #316ee6;
  border-radius: 50px;
}

.ContUsuarios .btnBack:hover{
  background-color: #316ee6;
}
/* 
.bntBackList{
  position: absolute;
  z-index: 2;
  background-color: #316ee6;
  border-radius: 50px;
}

.iconBackList{
  font-size: 50px;
  color: white;
} */

.css-1e6y48t-MuiButtonBase-root-MuiButton-root:hover {
  background-color: none !important;
}

.ContUsuarios .btnBack .iconBack {
  font-size: 50px;
  color: white;
}

.BarraLateral.close ~ .ContUsuarios {
  left: 145px;
  width: calc(90% - 20px);
}

.ContUsuarios .titleAddUser {
  width: 100%;
  height: auto;

  display: grid;
  grid-template-rows: repeat(2, 70px);
  justify-items: center;
}

.ContUsuarios .titleAddUser h2 {
  font-size: 55px;
  color: #316ee6;
}

.ContUsuarios .titleAddUser h3 {
  font-size: 16px;
  color: gray;
}

.infoAddUser {
  width: 70%;
  height: auto;
  padding-left: 10%;

  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 20%;

  align-items: center;
}

.infoAddUser .PanelInfo {
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}

.infoAddUser .PanelInfo .InputContPrincipal {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 50px;
  /* padding: 40px; */
}

.infoAddUser .PanelInfo .InputContPrincipal1 {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 50px;
  /* padding: 40px; */
}

.infoAddUser .PanelInfo .InputContPrincipal .btnCard {
  position: relative;
  left: 60%;
  width: 80%;
  height: 50px;
  border-radius: 25px;
  background: rgb(38, 103, 177);
  background: linear-gradient(
    90deg,
    rgb(38, 103, 177) 0%,
    rgba(49, 110, 230, 1) 100%
  );
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

.infoAddUser .PanelInfo .InputContPrincipal .btnCard h1 {
  font-size: 16px;
  color: white;
}

.infoAddUser .PanelInfo .contInput {
  width: 50%;
  height: auto;

  display: grid;
  grid-template-rows: 30% 70%;
  grid-gap: 5px;
  position: relative;
}

.infoAddUser .PanelInfo .contInput .inputCustom {
  width: 300px;
  height: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(208, 208, 208, 0.349);
  border: 2px solid gray;
  font-weight: bold;
  font-size: 15px;
}

.infoAddUser .PanelInfo .contInput .inputCustomText {
  width: 300px;
  height: 180px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(208, 208, 208, 0.349);
  border: 2px solid gray;
  font-weight: bold;
  font-size: 15px;
}

.infoAddUser .PanelInfo .contInput .inputCustomPass {
  width: 320px !important;
  height: 40px;
  border-radius: 10px !important;
  background-color: rgba(208, 208, 208, 0.349);
  border: 2px solid gray !important;
  font-weight: bold;
  font-size: 15px !important;
  font-weight: bold !important;

  line-height: none !important;
  letter-spacing: none !important;
  box-sizing: none !important;
}

.css-1gctnaj-MuiInputBase-input-MuiFilledInput-input {
  padding-top: 10px !important;
}
.infoAddUser .PanelInfo .contInput .inputCustomPass:before {
  border-bottom: none !important;
}

.css-zs07ro-MuiInputBase-root-MuiFilledInput-root:after {
  border-bottom: none !important;
}

.infoAddUser .PanelInfo .contInput .selectCustom {
  width: 325px;
  height: 45px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(208, 208, 208, 0.349);
  border: 2px solid gray;
  font-weight: bold;
  font-size: 15px;
}

.infoAddUser .PanelInfo .contInput .inputCustom:focus-visible {
  outline: none;
}

.infoAddUser .PanelInfo .InputContPrincipal .contInput .titleInput {
  color: gray;
  font-weight: bold;
  margin-left: 5px;
}

.css-ahj2mt-MuiTypography-root {
  font-size: 14px !important;
  font-family: 'Rubik', sans-serif !important;
}

.css-1hv8oq8-MuiStepLabel-label {
  font-size: 20px !important;
}

/* Stepper */
.contBtnStepper {
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.contBtnStepper1{
  width: 70%;
  height: auto;

  display: flex;
  align-items: center;
}

.contBtnSventa {
  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
}

.contBtnStepper .btnStepper,
.contBtnStepper1 .btnStepper,
.contBtnSventa .btnSVenta {
  margin-top: 25px;
  width: 70%;
  height: 40px;
  border-radius: 25px;
  background: rgb(38, 103, 177);
  background: linear-gradient(
    90deg,
    rgb(38, 103, 177) 0%,
    rgba(49, 110, 230, 1) 100%
  );
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

.contBtnStepper .btnStepper h1,
.contBtnStepper1 .btnStepper h1,
.contBtnSventa .btnSVenta h1 {
  font-size: 15px;
  color: white;
}

h2 {
  font-size: 55px;
  color: #316ee6;
  text-align: center;
}
button {
  margin-right: 10px;
}

.imgCont {
  width: 90%;
  border-left: 1px solid rgb(211, 211, 211);
}

/* Stepper */

/* AddNewUser */
.my-button-class {
  /* Estilos personalizados aquí */
  color: red;
}

/* Buscador - Pantalla Lista [Empleados-Usuarios] */
.contFilter {
  width: 100%;
  height: 70px;

  display: grid;
  grid-template-columns: 70% 30%;

  justify-content: center;
  align-items: center;
}

.contFilter1 {
  width: 100%;
  height: 70px;

  display: grid;
  grid-template-columns: 60% 40%;

  align-items: center;
}

.btnCreate1 {
  background-color: coral !important;
  color: white !important;
  border-radius: 25px !important;
  padding: 5px !important;
  font-weight: bold !important;
  line-height: 0 !important;
}

.btnReport1 {
  border: 2px solid black !important;
  color: black !important;
  border-radius: 25px !important;
  transition: 0.5s ease;
  padding: 5px !important;
  line-height: 0 !important;
  font-weight: bold !important;
}

.btnReport1:hover {
  background-color: black !important;
  color: white !important;
}

.inputSearch {
  width: 60%;
  height: 35px;
  background-color: #d0d0d059;
  border-radius: 15px;
  font-size: 18px;
  padding-left: 35px;
  font-weight: bold;
  border: 2px solid rgba(188, 188, 188, 0.59);
}

.inputSearch:focus {
  outline: none;
}

.btnActionsNewReport {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 20px;
}

.btnCreate {
  background-color: coral !important;
  color: white !important;
  border-radius: 25px !important;
}

.btnReport {
  border: 2px solid black !important;
  color: black !important;
  border-radius: 25px !important;
  transition: 0.5s ease;
}

.btnReport:hover {
  background-color: black !important;
  color: white !important;
}

.contActions {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 5px;

  padding-left: 20px;
  padding-right: 20px;
}

.contActions1{
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-gap: 5px;

  padding-left: 20px;
  padding-right: 20px;
}

.btnEdit {
  background-color: #316ee6 !important;
  border-radius: 25px !important;
  color: white !important;
}

.btnAddExpe {
  background-color:tomato !important;
  border-radius: 25px !important;
  color: white !important;
}

.btnDelete {
  background-color: red !important;
  border-radius: 25px !important;
  color: white !important;
}

.buscador {
  background-color: antiquewhite;
  display: block;
}
/* Buscador - Pantalla Lista [Empleados-Usuarios] */

/* Configuracion de Roles */
.ContConfigRol {
  position: relative;
  top: 50px;
  left: 355px;
  width: calc(92% - 250px);
  height: auto;

  display: grid;
  grid-template-rows: 15% 80%;
  grid-gap: 20px;

  transition: 0.5s ease;
}

.ContConfigRol .btnBack {
  position: absolute;
  background-color: #316ee6;
  border-radius: 50px;
}

.ContConfigRol .btnBack:hover{
  background-color: #316ee6;
}
/* 
.bntBackList{
  position: absolute;
  z-index: 2;
  background-color: #316ee6;
  border-radius: 50px;
}

.iconBackList{
  font-size: 50px;
  color: white;
} */

.ContConfigRol .btnBack .iconBack {
  font-size: 50px;
  color: white;
}

.BarraLateral.close ~ .ContConfigRol {
  left: 145px;
  width: calc(90% - 20px);
}

.ContConfigRol .titleRol {
  width: 100%;
  height: auto;

  display: grid;
  grid-template-rows: repeat(1, 0);
  justify-items: center;
}

.ContConfigRol .titleRol h2 {
  font-size: 45px;
  color: black;
}

.ContConfigRol .titleRol h3 {
  font-size: 16px;
  color: gray;
}

.infoConfigRol {
  width: 100%;
  height: auto;
  padding-top: 45px;
  padding-bottom: 95px;

  display: grid;
  grid-gap: 20%;
  align-items: center;
  border-radius: 25px;
  box-shadow: 1px 1px 10px 1px rgba(132, 132, 132, 0.75);
}

.infoConfigRol .PanelConfigRol {
  width: 100%;
  height: auto;

  display: grid;
  grid-gap: 30px;
}

.contSelectRol {
  width: 95%;
  height: auto;
  padding-left: 58px;

  display: grid;
  grid-template-columns: 65% 48%;
  align-items: center;
}

.inputCheck {
  width: 100%;
  display: grid;
  grid-template-columns: 15% 30%;
  grid-gap: 5px;
}

.sectionRol {
  width: 100%;
  height: auto;

  display: grid;
  grid-gap: 10px;
  padding: 15px;
}

.titlePrincipal {
  width: 96%;
  height: auto;
  padding-left: 65px;

  display: grid;
  grid-template-columns: 24% 8% 10% 10% 8%;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(168, 168, 168);
}

.infoConfigRol .PanelConfigRol .InputConfig {
  width: 96%;
  height: auto;
  display: grid;
  grid-template-columns: 25% 50%;
  padding-left: 65px;
}

.contSelect {
  width: 75%;
  height: auto;

  display: grid;
  grid-template-columns: repeat(4, 4fr);
}

.contSwitchControl {
  width: 100%;
  height: auto;
  display: grid;
}

.conTitleRoles {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-rows: repeat(8, 62px);
  text-transform: uppercase;
  font-weight: bold;
}

.infoConfigRol .PanelConfigRol .InputContPrincipal .btnCard {
  position: relative;
  left: 60%;
  width: 80%;
  height: 50px;
  border-radius: 25px;
  background: rgb(38, 103, 177);
  background: linear-gradient(
    90deg,
    rgb(38, 103, 177) 0%,
    rgba(49, 110, 230, 1) 100%
  );
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

.infoConfigRol .PanelConfigRol .InputContPrincipal .btnCard h1 {
  font-size: 16px;
  color: white;
}

.infoConfigRol .PanelConfigRol .contInput {
  width: 50%;
  height: auto;

  display: grid;
  grid-template-rows: 30% 70%;
  grid-gap: 5px;
  position: relative;
}

.infoConfigRol .PanelConfigRol .contInput .inputCustom {
  width: 300px;
  height: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(208, 208, 208, 0.349);
  border: 2px solid gray;
  font-weight: bold;
  font-size: 15px;
}

.infoConfigRol .PanelConfigRol .contInput .inputCustomText {
  width: 300px;
  height: 180px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(208, 208, 208, 0.349);
  border: 2px solid gray;
  font-weight: bold;
  font-size: 15px;
}

.infoConfigRol .PanelConfigRol .contInput .inputCustomPass {
  width: 320px !important;
  height: 40px;
  border-radius: 10px !important;
  background-color: rgba(208, 208, 208, 0.349);
  border: 2px solid gray !important;
  font-weight: bold;
  font-size: 15px !important;
  font-weight: bold !important;

  line-height: none !important;
  letter-spacing: none !important;
  box-sizing: none !important;
}

.css-1gctnaj-MuiInputBase-input-MuiFilledInput-input {
  padding-top: 10px !important;
}
.infoConfigRol .PanelConfigRol .contInput .inputCustomPass:before {
  border-bottom: none !important;
}

.css-zs07ro-MuiInputBase-root-MuiFilledInput-root:after {
  border-bottom: none !important;
}

.infoConfigRol .PanelConfigRol .contSelectRol .sectionRol .selectCustom {
  width: 325px;
  height: 40px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(208, 208, 208, 0.349);
  border: 2px solid gray;
  font-weight: bold;
  font-size: 14px;
}

.infoConfigRol .PanelConfigRol .contSelectRol .contButton {
  width: 70%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-gap: 20px;
}

.contButton .btnEditRol {
  width: 100%;
  height: 50px;
  border: 3px solid black;
  color: black;
  font-weight: bold;
  font-size: 18px;
  border-radius: 25px;
  transition: 0.5s;
}

.contButton .btnEditRol:hover {
  background-color: black !important;
  color: white !important;
}

.contButton .btnNewRol {
  width: 100%;
  height: 50px;
  background-color: orangered;
  color: white;
  font-size: 18px;
  border-radius: 25px;
}

.contButton .btnNewRol:hover {
  background-color: orangered !important;
}

.contButton .btnSaveRol {
  width: 100%;
  height: 50px;
  background-color: #316ee6;
  color: white;
  font-size: 18px;
  border-radius: 25px;
}

.contButton .btnSaveRol:hover {
  background-color: #316ee6 !important;
}

.infoConfigRol .PanelConfigRol .contInput .inputCustom:focus-visible {
  outline: none;
}

.infoConfigRol .PanelConfigRol .InputContPrincipal .contInput .titleInput {
  color: gray;
  font-weight: bold;
  margin-left: 5px;
}
/* Configuracion de Roles */

/* Ventana Modal - swal */
.swal-modal {
  border-radius: 15px !important;
}

.swal-footer {
  text-align: center;
  margin-top: 0;
}

.logoModal {
  position: relative;
  left: -20px;
  top: -20px;
  width: 109.5%;
  height: 110px;
  background-color: #316ee6;
  color: white;
  text-transform: uppercase;
  border-top-right-radius: 15px !important;
  border-top-left-radius: 15px !important;

  border-bottom: 2px solid gray;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swal-button--defeat,
.swal-button--update {
  width: 150px !important;
  border: 3px solid orangered;
  font-weight: bold;
  color: orangered;
  font-size: 18px;
  background-color: transparent !important;
  transition: 0.5s;
}

.swal-button--defeat:hover,
.swal-button--update:hover {
  background-color: orangered !important;
  color: white !important;
}

.swal-button--cancel {
  width: 150px !important;
  background-color: red !important;
  font-weight: bold;
  color: white;
  font-size: 18px;
  transition: 0.5s;
  border: 3px solid red !important;
}

.swal-button--cancel:hover {
  background-color: red !important;
}

.contEditModal {
  width: 100%;
  height: auto;

  display: grid;
  grid-gap: 40px;
}

.contEditModal .contInput {
  width: 100%;
  height: auto;

  display: grid;
  grid-gap: 10px;
  text-align: left;
}

.contEditModal .contInput .titleInput {
  font-size: 17px;
}

.contEditModal .contInput .inputCustom {
  width: 300px;
  height: 15px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(208, 208, 208, 0.349);
  border: 2px solid gray;
  font-weight: bold;
  font-size: 16px;
}

.contEditModal .contInput .selectCustom {
  width: 325px;
  height: 45px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(208, 208, 208, 0.349);
  border: 2px solid gray;
  font-weight: bold;
  font-size: 15px;
}

.contEditModal .contInput .textAreaCustom {
  width: 400px;
  height: 85px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(208, 208, 208, 0.349);
  border: 2px solid gray;
  font-weight: bold;
  font-size: 16px;
}

.swal-button--confirm {
  margin-top: 35px;
  width: 150px !important;
  background-color: #316ee6;
  font-weight: bold;
  color: white;
  font-size: 18px;
  transition: 0.5s;
}

.swal-button--confirm:hover {
  background-color: #316ee6 !important;
}
/* Ventana Modal - swal */
